{% extends 'base.html'%}
{% load bootstrap3 %}
{%block content%}
{{ block.super }}

<div class="feeds">
    <div class="feed">
            
            {% for img_item in img %}
            
      <div class="feed-header">
          {% for profile_item in profile %}
          {% if profiles.profile_picture %}
        <a class="feed-author-img"><img src="{{profile_item.profile_picture.url|default_if_none:'#'}}" height="100px" width="100px"></a>
        <a class="feed-author-name" href="profile_item.user.url"></a>
        {% endif %}
        {% endfor %}
        <a class="feed-time">3h</a>
      </div>
      <div class="feed-image">
        <img src="{{img_item.image_image.url}}" width="500px" />
      </div>
      
      <div class="feed-body">
         <p> {{img_item.caption}}</p> 
         {% endfor %}
      </div>
      <div class="feed-footer">
        
        <i class="fa fa-heart-o nx"></i>
        {% for comment_item in comment %}
        <input type="text" class="ny" placeholder="Add a comment">
        <i class="fa fa-sort-down nz"></i>
        {% endfor %}
      </div>
      
    </div>
    <style>
    body {
  background-color: #fafafa;
  font-family: "Gotham Rounded", "Lato", san-serif;
}

.feeds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center; 
}

.feed-image {
    max-width: 100%;
}

.feed {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  width: 500px;
  margin: .5em;
  align-self: center;
  flex-basis: 450px; 
}

.feed-header {
  display: flex;
  padding: 1em;
  align-items: baseline;
} 
  
.feed-author-name {
    color: #444;
    flex-grow: 1;
    margin: .5em;
    text-decoration: none;
  }
  
.feed-time {
    color: #ddd;
    text-decoration: none;
  }

.feed-body {
  padding: 1.5em;
  white-space: normal;
}

.feed-footer {
  display: flex;
  border-top: 1px solid #eee;
  margin: 0 1.5em 0 1.5em ;
  padding: 1em 0 1em 0;
  align-items: center;
}

.ny {
  /* input box */
  border: 0px;
  outline: none;
  font-family: 'Lato', san-serif;
  margin: .5em;
  flex-grow: 1;
}
.nx, .nz, .mx {
  color: #ddd;
  font-size: 1.5em;
  cursor: pointer;
}
.nz {
  align-self: flex-start;
  margin-top: 0.2em;
}
.mx {
  color: red;
}
.feed-author-img {
    width: 30px;
    height: 30px;
    border-radius: 100px; 
}
    </style>
{% endblock %}