{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}
{{ block.super }}
<div class="row mt-5">


    <div class="container mb-5 pb-5">
      {% for profile_item in profile %}
      <div class="row">
        <div class="col-md-4">
          {% if profile.profile_picture %}
          <img src="{{profile.profile_picture.url}}" class="img-circle" alt="{{profile_item.user.username}} profile pic"> {% endif %}
        </div>
        <div class="col-md-8">
          <p><b>Username: </b> {{profile_item.user.username}}</p>
          <p><b>e-mail: </b> {{profile_item.user.email}}</p>
          <p><b>Bio: </b>{{profile_item.bio}}</p>
          {% if profile_item.user.id == user.id%}
          {# <p><a href="#" title="under development ..."><i class="fa fa-cog fa-spin"></i> Edit profile</a></p> #}
          <p><a href="{% url 'editprofile'%}"><i class="fa fa-cog fa-spin"></i> Edit profile</a></p>
          <p><a href="/logout" title="logout">Logout  <i class="fa fa-sign-out mr-4 pr-3"></i></a>
          </p>
          {% endif %}
        </div>
  
      </div>
      {% endfor %}
      <div class="row">
        {% for img_item in img %}
        <div class="col-md-3 ml-5 mr-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{img_item.image_image.url}}" alt="{{img_item.caption}} photo"style="height: 18rem;">
              <p style="font-size:12px;" class="ml-2 mt-2"><span class="textsize">{{img_item.user.username}} </span>: {{img_item.caption}}</p>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  
  
  
  </div>
    {% endblock %}
  